annotated-types==0.6.0
appdirs==1.4.4
APScheduler==3.10.4
asttokens==2.4.1
backcall==0.2.0
blinker==1.7.0
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.3
colorama==0.4.6
contextlib2==21.6.0
copier==9.2.0
cryptography==42.0.4
dash==2.16.1
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-dangerously-set-inner-html==0.0.2
dash-html-components==2.0.0
dash-table==5.0.0
datawrapper==0.6.0
decorator==5.1.1
docker==6.1.2
dunamai==1.19.2
et-xmlfile==1.1.0
executing==2.0.1
Flask==3.0.2
Flask-Compress==1.14
fsspec==2024.3.1
funcy==2.0
greenlet==3.0.3
idna==3.6
importlib_metadata==7.1.0
ipython==8.10.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jinja2-ansible-filters==1.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
mdurl==0.1.2
nest-asyncio==1.6.0
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.1
parso==0.8.4
pathspec==0.12.1
pickleshare==0.7.5
plotly==5.3.1
plumbum==1.8.2
prompt-toolkit==3.0.43
pure-eval==0.2.2
pycparser==2.22
pydantic==2.6.4
pydantic_core==2.16.3
pyfiglet==0.8.post1
Pygments==2.17.2
PyJWT==2.6.0
pyparsing==3.1.2
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0
pyyaml-include==2.0
qrcode==7.3.1
questionary==1.10.0
rdflib==7.0.0
requests==2.31.0
retrying==1.3.4
rich==13.5.2
schema==0.7.5
six==1.16.0
SPARQLWrapper==2.0.0
SQLAlchemy==1.4.46
stack-data==0.6.3
tenacity==8.2.3
traitlets==5.14.2
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
vantage6==4.4.0
wcwidth==0.2.13
websocket-client==1.7.0
Werkzeug==3.0.2
zipp==3.18.1
